.App {
  text-align: center;
}

.view-button.selected {
  border-color: lightskyblue;
}

.flex-row {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
}
td {
  padding: 0 6px;
  /* width: 100%; */
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
